@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  color: white;
}

/* Home */

.bannerHome {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  background: url(https://dev.hyperaschain.com/img/hyperasChain.jpg) no-repeat
    center center / cover;
}

/* OverView */

.banner {
  background: #172a33
    url("https://dev.hyperaschain.com/img/banner-overview.jpg") no-repeat center
    bottom / cover;
  text-align: center;
  padding: 100px 0 240px;
  position: relative;
}

.sectionHeading {
  display: inline-block;
  font-weight: 700;
  background: linear-gradient(89.08deg, #ff0097 22.35%, #00d3ff 83.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.content {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: calc(var(--bs-gutter-y) * -1); */
  /* margin-right: calc(var(--bs-gutter-x) * -0.5); */
  /* margin-left: calc(var(--bs-gutter-x) * -0.5); */
}

.content-item {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.item::before {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  background: url(https://dev.hyperaschain.com/img/bg-item-overview.png)
    no-repeat left top / contain;
}

.item-1::before {
  left: 0;
  top: 0;
}

.item-2::before {
  right: 0;
  top: 0;
  transform: scaleX(-1);
}

.bgGalaxy {
  background: url(https://dev.hyperaschain.com/img/bg-galaxy.jpg) no-repeat
    center center / cover;
}

.boxIframe {
  margin-top: -160px;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #ff0097,
    #d567e5,
    #879aff,
    #0bbcff,
    #00d3ff
  );
}

.videoManager {
  padding-bottom: 56.25%;
  height: 0;
}

.text {
  background: -webkit-linear-gradient(
    90deg,
    #ff0097,
    #d567e5,
    #879aff,
    #0bbcff,
    #00d3ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.line {
  transform: rotate(-35deg);
  left: 50%;
  bottom: 95px;
  background: #fe3bbe;
  position: absolute;
  width: 100%;
  height: 3px;
}

.line::before {
  content: "";
  position: absolute;
  height: 100%;
  background: #fff;
  width: 10%;
  left: 100px;
  box-shadow: 0px 0px 10px 2px #fe3bbe;
}

.roadmap:nth-child(even) {
  position: relative;
  top: -130px;
}

.roadmap:nth-child(even) .img .line {
  transform: rotate(35deg);
  left: 50%;
  bottom: -30px;
}

.circleBlur {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #01f0ff;
  filter: blur(514px);

  /* top: -400px;
  left: 50%;
  transform: translateX(-50%); */
}

.list {
  color: #ec008c;
}

.stake-check {
  width: 50px;
  height: auto;
  border: 1px solid rgba(1, 255, 240, 0.3);
  border-radius: 30px;
  background: none !important;
  padding: 2px;
  margin: 0 8px 0 0;
  outline: none;
  box-shadow: none;
  transition: background-position 0.15s ease-in-out;
  float: left;
  appearance: none;
  cursor: pointer;
}

.stake-check::before {
  content: "";
  left: 0;
  top: 0;
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background: #01fff0;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.none {
  background-color: transparent;
}

.active {
  background-color: #ec008c;
  box-shadow: 0px 4px 13px #ec008c;
}

.cell-1,
.cell-2,
.cell-3,
.cell-4 {
  flex: 1 0 0;
}
